@model Voedselverspilling.Web.Models.MealboxEditModel

@{
    ViewData["Title"] = "Edit Mealbox";
}

<h2 class="text-center">Edit Mealbox - @Model.Mealbox.Naam</h2>

<form asp-action="MealboxEdit" method="post" class="container">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Mealbox.Id" />

    <div class="form-group">
        <label asp-for="Mealbox.Naam" class="control-label">Naam</label>
        <input asp-for="Mealbox.Naam" class="form-control" />
        <span asp-validation-for="Mealbox.Naam" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mealbox.Prijs" class="control-label">Prijs (€)</label>
        <input asp-for="Mealbox.Prijs" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Mealbox.Prijs" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Mealbox.Type" class="control-label">Type</label>
        <input asp-for="Mealbox.Type" class="form-control" />
        <span asp-validation-for="Mealbox.Type" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="Mealbox.Is18" class="form-check-input" />
        <label asp-for="Mealbox.Is18" class="form-check-label">Bevat Alcohol?</label>
    </div>

    <div class="form-group">
        <label>Producten</label>
        <div>
            @foreach (var product in Model.AvailableProducts)
            {
                <div class="form-check">
                    <input type="checkbox"
                           class="form-check-input"
                           id="product_@product.Id"
                           name="SelectedProductIds"
                           value="@product.Id"
                    @(Model.SelectedProductIds.Contains(product.Id) ? "checked" : "") />
                    <label class="form-check-label" for="product_@product.Id">@product.Naam</label>
                </div>
            }
        </div>
    </div>


    <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Opslaan</button>
        <a asp-action="Mealboxes" class="btn btn-secondary">Annuleren</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
